:root {
    --color1: #553628;
    --color2: #a05b33;
    --color3: #2f7479;
    --light: #e2dcd1;
    --lighter: #fff;
}

body{
    background-color: var(--light);
}

header {
    background-image: linear-gradient(45deg, var(--color2), var(--color1));
    padding: 10px;
    display: flex;
    font-family: monospace;
    justify-content: center;
    color: var(--light);
    border-radius: 10px;
}

div{
    display: flex;
}

/* aside search area */

button {
    width: 250px;
    background-color: var(--color3);
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: var(--light);
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}
 
#search-area {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}

input {
    width: 250px;
    padding: 10px;
    margin: 10px;
}

.city-desc {
    padding: 50px;
    background-color: var(--lighter);
    border-radius: 10px;
    margin: 10px;
    width: 157vh;
}

#city-name {
    padding: 20px;
    background-color: var(--color3);
    color: var(--lighter);
    font-family: monospace;
    border-radius: 10px;
    font-size: 30px;
}

.city-desc p {
    background-color: var(--light);
    padding: 20px;
    color: var(--color2);
    font-family: monospace;
    width: 30vw;
    font-size: 20px
}

#results{
    align-items: center;
    display: flex;
    flex-direction: column
}

.city-btn {
    width: 200px
}

/* 5 days */

.forecast{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    background-color: var(--color1);
    font-family: monospace;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: var(--lighter);
    min-width: 15vw;
    flex-wrap: wrap;
}

.dateEl {
    background-color: var(--color3);
    border-radius: 10px;
    padding: 10px;

}

/* footer decoration */
footer{
    background-image: linear-gradient(45deg, var(--color2), var(--color1));
    height: 10px;
    top: 0;
    padding: 10px;
    display: fixed;
    bottom: 0;
    border-radius: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--light);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color3);
    border: solid var(--light) 5px;
    border-radius: 5px;
  }
  